// background colors
$background-white: #ffffff;
$background-grey: #fafafa;
$background-black: #a09999;
// use gradient for story border color
$gradient-one: #da3394;
$gradient-two: #e03c67;
$gradient-three: #f3753b;
$gradient-four: #f99b4a;
// the fonts 
$font-color-primary: #262626;
$font-color-secondary: #8e8e8e;
$font-color-footer: #c7c7c7;
// border colors
$border-color-grey: #dbdbdb;
$border-color-grey-secondary: #efefef;
// links colors
$link-color: #0095f6;
$link-color-secondary: #b3dffc;
// the main font
$font: "Montserrat", sans-serif; 